<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Edytuj Produkt</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/edit-product-style.css">
</head>
<body>
<div class="container">
    <h1>Edytuj Produkt</h1>
    <form action="#" th:action="@{/save}" th:object="${product}" method="post" class="form">
        <input type="hidden" th:field="*{id}" />

        <label for="name">Nazwa:</label>
        <input type="text" id="name" th:field="*{name}" class="input" placeholder="Wprowad? nazw?" />

        <label for="price">Cena:</label>
        <input type="text" id="price" th:field="*{price}" class="input" placeholder="Wprowad? cen?" />

        <button type="submit" class="btn">Aktualizuj</button>
    </form>
</div>
</body>
</html>